<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BoxDir" value="C:\ItxSvrTranslationTest\EanControls"/>
    <add key="CopyCnt" value="2000"/>
    <add key="SourceDir" value="C:\ItxSvrTranslationTest\Mix02\javaResult\gxsOnly"/>
    <add key="TargetDir" value="C:\ItxSvrTranslationTest\Mix02\dotNetResult\gxsOnly"/>
  </appSettings>

  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
